flow.json
[
    {
        "id": "e762d724.4efc68",
        "type": "tab",
        "label": "Trending topics",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7fb5aed7.9999b",
        "type": "tab",
        "label": "Search the Discovery",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c726647e.02d258",
        "type": "slack-config",
        "z": "",
        "name": "vaishnavi_bot"
    },
    {
        "id": "660002e7.0ec76c",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#0000ff",
                "baseFont": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#8a8aff",
                    "value": "#0000ff",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0000ff",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#0000d5",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#0000ff",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "base-font": {
                    "value": "Century Gothic,CenturyGothic,AppleGothic,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 0,
                "cy": 0,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3a8e4665.420b8a",
        "type": "ui_group",
        "z": "",
        "name": "Query",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "22",
        "collapse": false
    },
    {
        "id": "128bbc1c.84d7f4",
        "type": "ui_group",
        "z": "",
        "name": "Search Results: ",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": "22",
        "collapse": false
    },
    {
        "id": "2b5fc7cd.7efbf8",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "673afe95.1001c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "3a8e4665.420b8a",
        "order": 2,
        "width": 9,
        "height": 1
    },
    {
        "id": "60165030.8c077",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "3a8e4665.420b8a",
        "order": 4,
        "width": 9,
        "height": 1
    },
    {
        "id": "67f23ac2.553da4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "128bbc1c.84d7f4",
        "order": 1,
        "width": 22,
        "height": 1
    },
    {
        "id": "1105f62e.b2385a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "128bbc1c.84d7f4",
        "order": 3,
        "width": 22,
        "height": 1
    },
    {
        "id": "cb4aa57b.af5b28",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "128bbc1c.84d7f4",
        "order": 5,
        "width": 22,
        "height": 1
    },
    {
        "id": "32f2f7d2.48a028",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "128bbc1c.84d7f4",
        "order": 7,
        "width": 22,
        "height": 1
    },
    {
        "id": "51b4f550.c8015c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "128bbc1c.84d7f4",
        "order": 9,
        "width": 22,
        "height": 1
    },
    {
        "id": "c04c369f.161df8",
        "type": "ui_group",
        "z": "",
        "name": "Trending News",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": false
    },
    {
        "id": "5508a99c.6a2f88",
        "type": "ui_group",
        "z": "e762d724.4efc68",
        "name": "Search Results",
        "tab": "19e3b0a1.888d9f",
        "order": 2,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "8ab3bd40.92aac",
        "type": "ui_group",
        "z": "e762d724.4efc68",
        "name": "Watson Discovery News ",
        "tab": "19e3b0a1.888d9f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a24bb6fc.3f4ff8",
        "type": "ui_group",
        "z": "",
        "name": "Search Results",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "10dc7071.3802c",
        "type": "ui_group",
        "z": "",
        "name": "Watson Discovery News ",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6c964704.897078",
        "type": "ui_tab",
        "z": "",
        "name": "Watson Discovery News Search",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d3801e85.7b27",
        "type": "ui_group",
        "z": "",
        "name": "Query",
        "tab": "6c964704.897078",
        "order": 1,
        "disp": false,
        "width": 20,
        "collapse": false
    },
    {
        "id": "1abddb4c.3cfd05",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6b5e8145.5ae1a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": 22,
        "height": 1
    },
    {
        "id": "3967f691.cfc0ea",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 22,
        "height": 1
    },
    {
        "id": "8be5b70c.863c08",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 22,
        "height": 1
    },
    {
        "id": "4fcb233.bf82cdc",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 22,
        "height": 1
    },
    {
        "id": "ed41704.8bd749",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 22,
        "height": 1
    },
    {
        "id": "87df811c.6662f",
        "type": "ui_tab",
        "z": "",
        "name": "Trending",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d097908.f84de7",
        "type": "ui_group",
        "z": "",
        "name": "Trending News",
        "tab": "87df811c.6662f",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false
    },
    {
        "id": "9dce862e.92a818",
        "type": "ui_group",
        "z": "",
        "name": "News seach",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": false
    },
    {
        "id": "60186fe2.5f989",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "ee96b626.91ab78",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d3801e85.7b27",
        "order": 2,
        "width": 8,
        "height": 1
    },
    {
        "id": "71c1f14.1de731",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d3801e85.7b27",
        "order": 4,
        "width": 8,
        "height": 1
    },
    {
        "id": "98f002e3.5cce2",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d3801e85.7b27",
        "order": 5,
        "width": 7,
        "height": 1
    },
    {
        "id": "c410c4b8.351c58",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d3801e85.7b27",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "50d6fc19.1b5114",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d3801e85.7b27",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "672099e8.66b5d8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d3801e85.7b27",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "94595547.c9fd58",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d3801e85.7b27",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "22e491a4.17649e",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d3801e85.7b27",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "d7edeec2.c8f4f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d3801e85.7b27",
        "order": 13,
        "width": 7,
        "height": 1
    },
    {
        "id": "185e19db.95d9f6",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d3801e85.7b27",
        "order": 14,
        "width": 7,
        "height": 1
    },
    {
        "id": "76a98f72.bd95d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d3801e85.7b27",
        "order": 15,
        "width": 7,
        "height": 1
    },
    {
        "id": "7d60e027.b122f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d3801e85.7b27",
        "order": 16,
        "width": 7,
        "height": 1
    },
    {
        "id": "ae2f834c.1fa44",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d3801e85.7b27",
        "order": 17,
        "width": 7,
        "height": 1
    },
    {
        "id": "8c472abe.83f988",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d3801e85.7b27",
        "order": 18,
        "width": 7,
        "height": 1
    },
    {
        "id": "77276cab.288124",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d3801e85.7b27",
        "order": 19,
        "width": 7,
        "height": 1
    },
    {
        "id": "cd60cc6c.348ed",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d3801e85.7b27",
        "order": 20,
        "width": 7,
        "height": 1
    },
    {
        "id": "9e22b249.2c7c8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d3801e85.7b27",
        "order": 21,
        "width": 7,
        "height": 1
    },
    {
        "id": "ce2f513b.0bdde",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d3801e85.7b27",
        "order": 22,
        "width": 7,
        "height": 1
    },
    {
        "id": "8ce3b9ba.500238",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d3801e85.7b27",
        "order": 23,
        "width": 7,
        "height": 1
    },
    {
        "id": "c228fb02.063c88",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d3801e85.7b27",
        "order": 24,
        "width": 7,
        "height": 1
    },
    {
        "id": "b15081ff.8677a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d3801e85.7b27",
        "order": 25,
        "width": 7,
        "height": 1
    },
    {
        "id": "604dde27.0aecb",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d3801e85.7b27",
        "order": 26,
        "width": 7,
        "height": 1
    },
    {
        "id": "c368a625.27ba28",
        "type": "slack-config",
        "z": "e762d724.4efc68",
        "name": "vaishnavi_bot"
    },
    {
        "id": "193fd975.1ca1c7",
        "type": "slack-config",
        "z": "e762d724.4efc68",
        "name": "vaishnavi_bot"
    },
    {
        "id": "f7b17ab.4890888",
        "type": "slack-config",
        "z": "e762d724.4efc68",
        "name": "news_bot"
    },
    {
        "id": "e8ee2dfd.6ce1d",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6caa184f.5e7e88",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "f33b0829.694808",
        "type": "watson-discovery-v1",
        "z": "e762d724.4efc68",
        "name": "news",
        "environmentname": "",
        "environmentId": "system",
        "collectionId": "news-en",
        "configurationname": "",
        "configurationId": "",
        "language_code": "en",
        "collection_name": "",
        "count": "5",
        "passages": true,
        "nlp_query": true,
        "query": "",
        "filter": "crawl_date>2020-05-10T10:23:15",
        "aggregation": "term(enriched_title.entities.text,count:20).top_hits(1)",
        "return": "enriched_title.entities.text",
        "description": "",
        "size": "LT",
        "discovery-method": "query",
        "service-endpoint": "https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/d7973e0d-0e27-40d2-90fa-59a328c1fbc1",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "faaa2278.908c7",
                "9bc4767.fa61388",
                "bcaa21eb.483f7",
                "bc548812.c913e8",
                "409436d2.9f6148"
            ]
        ]
    },
    {
        "id": "143e2020.c1d21",
        "type": "comment",
        "z": "e762d724.4efc68",
        "name": "Trending Topics",
        "info": "",
        "x": 180,
        "y": 80,
        "wires": []
    },
    {
        "id": "d2d1fa6b.d671b8",
        "type": "ui_button",
        "z": "e762d724.4efc68",
        "name": "",
        "group": "d097908.f84de7",
        "order": 2,
        "width": 20,
        "height": 1,
        "passthru": false,
        "label": "Get trending news",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "f33b0829.694808"
            ]
        ]
    },
    {
        "id": "faaa2278.908c7",
        "type": "ui_template",
        "z": "e762d724.4efc68",
        "group": "d097908.f84de7",
        "name": "",
        "order": 2,
        "width": 5,
        "height": 14,
        "format": "<style>\np { font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 25px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 25px; }\na:link {\n    text-decoration: none;\n  color: blue;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n\na:visited {\n    text-decoration: none;\n  color: blue;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n</style>\n<div>\n    <br><br><center>\n    <a href=\"{{msg.search_results.aggregations[0].results[0].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[0].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[4].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[4].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[8].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[8].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[12].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[12].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[16].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[16].key}}</span></a><br><br><br>\n    </center>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 540,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "409436d2.9f6148",
        "type": "ui_template",
        "z": "e762d724.4efc68",
        "group": "d097908.f84de7",
        "name": "",
        "order": 1,
        "width": 20,
        "height": 3,
        "format": "<style>\nh2 { color: \"blue\",font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 25px; }\n</style>\n<div>\n    <br>\n    <h2>This is a web app to help you find Trending Topics in the News using Watson Discovery Service. Click on the Get Trending News button and discover the top 10 trending topics.\n<br> Click on each topic to navigate to a news article related to that topic.<br><br></h2>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 300,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "9bc4767.fa61388",
        "type": "ui_template",
        "z": "e762d724.4efc68",
        "group": "d097908.f84de7",
        "name": "",
        "order": 3,
        "width": 5,
        "height": 14,
        "format": "<style>\np { font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 25px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 25px; }\na:link {\n    text-decoration: none;\n  color: blue;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n\na:visited {\n    text-decoration: none;\n  color: blue;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n</style>\n<div>\n    <br><br><center>\n    <a href=\"{{msg.search_results.aggregations[0].results[1].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[1].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[5].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[5].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[9].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[9].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[13].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[13].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[17].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[17].key}}</span></a><br><br><br>\n    </center>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 540,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "bcaa21eb.483f7",
        "type": "ui_template",
        "z": "e762d724.4efc68",
        "group": "d097908.f84de7",
        "name": "",
        "order": 4,
        "width": 5,
        "height": 14,
        "format": "<style>\np { font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 25px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 25px; }\na:link {\n    text-decoration: none;\n  color: blue;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n\na:visited {\n    text-decoration: none;\n  color: blue;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n</style>\n<div>\n    <br><br><center>\n    <a href=\"{{msg.search_results.aggregations[0].results[2].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[2].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[6].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[6].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[10].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[10].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[14].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[14].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[18].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[18].key}}</span></a><br><br><br>\n    </center>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 540,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "bc548812.c913e8",
        "type": "ui_template",
        "z": "e762d724.4efc68",
        "group": "d097908.f84de7",
        "name": "",
        "order": 5,
        "width": 5,
        "height": 14,
        "format": "<style>\np { font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 25px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 25px; }\na:link {\n    text-decoration: none;\n  color: blue;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n\na:visited {\n    text-decoration: none;\n  color: blue;\n  font-size: 25px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n</style>\n<div>\n    <br><br><center>\n    <a href=\"{{msg.search_results.aggregations[0].results[3].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[3].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[7].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[7].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[11].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[11].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[15].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[15].key}}</span></a><br><br><br>\n    <a href=\"{{msg.search_results.aggregations[0].results[19].aggregations[0].hits.hits[0].url}}\" target=\"_blank\"><span>{{msg.search_results.aggregations[0].results[19].key}}</span></a><br><br><br>\n    </center>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 540,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "15add22b.91492e",
        "type": "function",
        "z": "7fb5aed7.9999b",
        "name": "",
        "func": "msg={\n    discoveryparams:\n    {\n        \"environment_id\":\"system\",\n        \"query\":msg.payload.input\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 210,
        "y": 180,
        "wires": [
            [
                "eae0b4f.9f5d048"
            ]
        ]
    },
    {
        "id": "eae0b4f.9f5d048",
        "type": "watson-discovery-v1",
        "z": "7fb5aed7.9999b",
        "name": "news",
        "environmentname": "",
        "environmentId": "system",
        "collectionId": "news-en",
        "configurationname": "",
        "configurationId": "",
        "language_code": "en",
        "collection_name": "",
        "count": "50",
        "passages": true,
        "nlp_query": true,
        "query": "",
        "filter": "",
        "aggregation": "term(enrichedTitle.entities.text)",
        "return": "",
        "description": "",
        "size": "LT",
        "discovery-method": "query",
        "service-endpoint": "https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/d7973e0d-0e27-40d2-90fa-59a328c1fbc1",
        "x": 350,
        "y": 180,
        "wires": [
            [
                "15549811.14cb38",
                "bbd62eba.62281",
                "8f01cae9.7ee4e8"
            ]
        ]
    },
    {
        "id": "13ef9212.c49e4e",
        "type": "ui_form",
        "z": "7fb5aed7.9999b",
        "name": "",
        "label": "",
        "group": "d3801e85.7b27",
        "order": 3,
        "width": 8,
        "height": 2,
        "options": [
            {
                "label": "Enter the query",
                "value": "input",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "input": ""
        },
        "payload": "",
        "submit": "search",
        "cancel": "",
        "topic": "",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "15add22b.91492e",
                "8135850f.9be318"
            ]
        ]
    },
    {
        "id": "15549811.14cb38",
        "type": "ui_template",
        "z": "7fb5aed7.9999b",
        "group": "d3801e85.7b27",
        "name": "",
        "order": 6,
        "width": 13,
        "height": 20,
        "format": "<style>\np { font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 20px; }\na:link {\n  color: blue;\n  font-size: 18px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n\na:visited {\n  color: blue;\n  font-size: 18px;\n  font-family: \"Century Gothic\", CenturyGothic;\n}\n</style>\n<div>\n    <p>\n    <a href=\"{{msg.search_results.results[0].url}}\" target=\"_blank\"><span style=\"font-weight: bold;\">{{msg.search_results.results[0].title}}</span></a>\n    <br><br>{{msg.search_results.results[0].text}}\n    <br><br><br>\n    <a href=\"{{msg.search_results.results[1].url}}\" target=\"_blank\"><span style=\"font-weight: bold;\">{{msg.search_results.results[1].title}}</span></a>\n    <br><br>{{msg.search_results.results[1].text}}\n    <br><br><br>\n    <a href=\"{{msg.search_results.results[2].url}}\" target=\"_blank\"><span style=\"font-weight: bold;\">{{msg.search_results.results[2].title}}</span></a>\n    <br><br>{{msg.search_results.results[2].text}}\n    <br><br><br>\n    <a href=\"{{msg.search_results.results[3].url}}\" target=\"_blank\"><span style=\"font-weight: bold;\">{{msg.search_results.results[3].title}}</span></a>\n    <br><br>{{msg.search_results.results[3].text}}\n    <br><br><br>\n    <a href=\"{{msg.search_results.results[4].url}}\" target=\"_blank\"><span style=\"font-weight: bold;\">{{msg.search_results.results[4].title}}</span></a>\n    <br><br>{{msg.search_results.results[4].text}}\n    <br><br><br>\n    </p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 539.1515998840332,
        "y": 179.988055229187,
        "wires": [
            []
        ]
    },
    {
        "id": "8135850f.9be318",
        "type": "ui_template",
        "z": "7fb5aed7.9999b",
        "group": "d3801e85.7b27",
        "name": "",
        "order": 1,
        "width": 12,
        "height": 4,
        "format": "<style>\nh2 { color: \"blue\",font-family: \"Century Gothic\", CenturyGothic, AppleGothic, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 25px; }\n</style>\n<div>\n    <br><br>\n    <h2>Watson News is a pre-enriched dataset that is updated continuosly with over 300,000 news articles and blogs a day. Search a specific news item from the Watson Discovery Service.\n    </h2>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 223.00000381469727,
        "y": 315.00000381469727,
        "wires": [
            []
        ]
    },
    {
        "id": "67ed27e7.b0f4a8",
        "type": "comment",
        "z": "7fb5aed7.9999b",
        "name": "Query Builder",
        "info": "",
        "x": 130,
        "y": 60,
        "wires": []
    },
    {
        "id": "bbd62eba.62281",
        "type": "function",
        "z": "7fb5aed7.9999b",
        "name": "Sentiment",
        "func": "var msg, i;\nvar val=[0,0,0];\nfor(i=0 ;i<50;i++)\n{\n    if(msg.search_results.results[i].enriched_text.sentiment.document.score < 0)\n        val[0]++;\n    if(msg.search_results.results[i].enriched_text.sentiment.document.score === 0)\n        val[1]++;\n    if(msg.search_results.results[i].enriched_text.sentiment.document.score > 0)\n        val[2]++;\n}\nmsg.payload=val;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440.5860786437988,
        "y": 274.3365726470947,
        "wires": [
            [
                "af7e36e6.db24d8",
                "93e91290.8fa53"
            ]
        ]
    },
    {
        "id": "af7e36e6.db24d8",
        "type": "function",
        "z": "7fb5aed7.9999b",
        "name": "retrieval",
        "func": "msg.payload=\n[\n    {\n\"series\":[\"News\"],\n\"data\":[msg.payload[0],msg.payload[2],msg.payload[1]],\n\"labels\":[\"Negative\",\"Neutral\",\"Positive\"]\n    }\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610.1495170593262,
        "y": 273.33653831481934,
        "wires": [
            [
                "54f97281.4dc7cc"
            ]
        ]
    },
    {
        "id": "54f97281.4dc7cc",
        "type": "ui_chart",
        "z": "7fb5aed7.9999b",
        "name": "",
        "group": "d3801e85.7b27",
        "order": 7,
        "width": 6,
        "height": 5,
        "label": "",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Sentiment Analysis",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 775.5564804077148,
        "y": 272.20867681503296,
        "wires": [
            []
        ]
    },
    {
        "id": "8f01cae9.7ee4e8",
        "type": "debug",
        "z": "7fb5aed7.9999b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "search_results",
        "targetType": "msg",
        "x": 493.4581547484774,
        "y": 81.209113467178,
        "wires": [],
        "l": false
    },
    {
        "id": "93e91290.8fa53",
        "type": "debug",
        "z": "7fb5aed7.9999b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 508.5000057220459,
        "y": 352.00001525878906,
        "wires": [],
        "l": false
    }
]
